@section Styles{
<link href="~/css/register.css" rel="stylesheet">
}

@section Scripts{
<script src="~/js/register.js"></script>
}

<h1>Register New Car</h1>


<div class="register-form">
<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Daily Price</label>
        <div class="col-8">
            <input type="number" id="txtPrice" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Id#</label>
        <div class="col-8">
            <input type="number" id="txtId" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Make</label>
        <div class="col-8">
            <input type="string" id="txtMake" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Model</label>
        <div class="col-8">
            <input type="text" id="txtModel" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Year</label>
        <div class="col-8">
            <input type="number" id="txtYear" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Capacity</label>
        <div class="col-8">
            <input type="number" id="txtCapacity" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Mileage</label>
        <div class="col-8">
            <input type="number" id="txtMileage" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Image</label>
        <div class="col-8">
            <input type="imageUrl" id="txtImage" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">In Stock</label>
        <div class="col-8">
            <input type="number" id="txtStock" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">HP</label>
        <div class="col-8">
            <input type="text" id="txtHp" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Cylinders</label>
        <div class="col-8">
            <input type="number" id="txtCylinders" class="form-control">
        </div>
    </div>
</div>

<div>
    <div class="form-group row">
        <label class="col-4 col-form-label">Description</label>
        <div class="col-8">
            <input type="text" id="txtDesc" class="form-control">
        </div>
    </div>
</div>

<button id="btnSave" class="btn btn-primary">Save!</button>
</div>